.websites {
  color: #fff;
  background-color: #87CEFA;
  border-radius: 4px;
  padding: 6px 12px;
}


.pink-btn {
        background-color: #FFC2C2;
        border-color: #FFC2C2;
      }
      
      .blue-btn {
        background-color: #C2DFFF;
        border-color: #C2DFFF;
      }
      
      /* Add active state styles to buttons */
      .pink-btn:active,
      .blue-btn:active {
        background-color: #F23E3E;
        border-color: #F23E3E;
        color: white;
      }
      
