body {
  background-color: #333;
  color: #fff;
}

.navbar {
  background-color: #222;
}

h1, h2, h3, h4, h5, h6 {
  color: #fff;
}

.card {
  background-color: #343a40;
  border-color: #343a40;
  margin-bottom: 20px;
}

.card-header {
  background-color: #1d1d1d;
  color: #fff;
}
      
.card-link {
  color: #fff;
}

.websites {
  color: white;
  background-color: #FFC2C2;
  border-radius: 4px;
  padding: 6px 12px;
}